nav ul a,
nav .brand-logo {
    color: #444;
    font-family: 'Titillium Web', sans-serif;
}

.user{
    float: right;
    width: 50%;
    text-align: right;
}

.material-icons{
    color: black;
    vertical-align: middle;
}

#pay-button{
    margin: 0 auto;
}